version: "3.8"
services:
  app:
    build: .
    image: iot-gateway:latest
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - mosquitto
    environment:
      SPRING_DATA_MONGODB_HOST: mongo
      SPRING_DATA_MONGODB_PORT: 27017
      MQTT_BROKER: tcp://mosquitto:1883

  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mosquitto:
    image: eclipse-mosquitto:2.0
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - mosquitto_data:/mosquitto/data

volumes:
  mongo_data:
  mosquitto_data:
